.header {
  width: 1440px;
  height: 800px;
  background-color: #e1ff8f;

  &__animation {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 90px;
    background-color: #bcec30;
    animation: marquee 12s linear infinite;
    gap: 0;

    span:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 36px;
      height: 36px;
      background: url("svg/Star.svg") center/contain no-repeat;
      margin: 0 8px;
      vertical-align: middle;
    }
  }

  &__line-text {
    font-size: 30px;
    font-weight: 700;
    margin: 0 8px;
    position: relative;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.top {
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  &__button {
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
  }
}
