@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}

button {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

button {
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  width: 247px;
  height: 66px;
  background-color: #000000;
  color: #ffffff;
  font-size: 24px;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

.header {
  position: relative;
  background-color: #e1ff8f;
  overflow: hidden;
  height: 800px;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 196px;
}
.header__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  height: 791px;
  z-index: 2;
}
.header__img picture,
.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.header__img-left {
  position: absolute;
  top: 69px;
  left: 63px;
}
.header__img-right {
  position: absolute;
  bottom: 149px;
  right: 344px;
}
.header__animation {
  position: absolute;
  top: 710px;
  left: 0;
  width: 100%;
  background-color: #bcec30;
  white-space: nowrap;
  z-index: 2;
  overflow: hidden;
}
.header__animation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
  margin: 0;
  padding: 0;
  height: 90px;
  max-width: 3220px;
}
.header__animation li {
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  color: #000;
  margin-left: 51px;
  display: flex;
  align-items: center;
}
.header__animation li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("svg/star.svg") center/contain no-repeat;
  margin-left: 51px;
}

.top {
  position: relative;
  z-index: 3;
  max-width: 768px;
}
.top__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.top__text {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 48px;
  width: 700px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.main {
  position: relative;
  width: 100%;
}
.main__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.main__img-star {
  position: absolute;
  top: 77px;
  right: 0;
  height: 585px;
  z-index: -1;
}
.main__stars-left {
  position: absolute;
  top: 770px;
  left: 25px;
  z-index: -1;
}
.main__stars-right {
  position: absolute;
  top: 1563px;
  right: 45px;
  z-index: -1;
}
.main__stars-bottom {
  position: absolute;
  bottom: 45px;
  right: 52px;
  z-index: -1;
}
.main__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.main__text-box {
  margin-bottom: 72px;
}
.main__text {
  font-size: 24px;
  font-weight: 400;
}
.main__container-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.main__container-article {
  width: 378px;
  margin: 0;
  flex: 0 1 calc(33.333% - 32px);
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding-bottom: 36px;
  justify-content: space-between;
}
.main__container-article:hover {
  transform: scale(1.02);
}
.main__container-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
  width: 100%;
  display: block;
}
.main__container-text {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  width: 107px;
  margin-left: 32px;
  background-color: #f7f7f7;
  border-radius: 52.58px;
  height: 36px;
  padding: 8px 16px 10px 16px;
}
.main__container-title {
  padding-left: 32px;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  white-space: pre-line;
}
.main__games {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 96px;
}
.main__games-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  height: 500px;
  background-color: #fff;
  border-radius: 30px;
  margin: 0;
}
.main__games-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  padding-top: 48px;
  align-items: flex-start;
  white-space: pre-line;
}
.main__games-title {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}
.main__games-text {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  white-space: pre-line;
}
.main__games-img {
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  flex-shrink: 0;
}

.main__container-article:nth-child(1),
.main__container-article:nth-child(3) {
  height: 473px;
}

.main__container-article:nth-child(2),
.main__container-article:nth-child(5) {
  height: 512px;
}

.main__container-article:nth-child(4),
.main__container-article:nth-child(6) {
  height: 551px;
  margin-top: -40px;
}

.main__games-container:nth-child(even) {
  flex-direction: row-reverse;
  padding-left: 48px;
}

footer {
  background-color: #bded35;
  height: 150px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 700px;
  }
  .header__container {
    padding: 17px 147px 16px 182px;
  }
  .header__img {
    width: 224px;
    height: 239px;
  }
  .header__img-right {
    z-index: 1;
    bottom: 79px;
    right: 34px;
  }
  .header__animation {
    top: 649px;
  }
  .header__animation ul {
    height: 51px;
  }
  .top__title {
    font-size: 40px;
    text-align: center;
  }
  .top__text {
    font-size: 16px;
    max-width: 296px;
    text-align: center;
  }
  .top__button {
    width: 285px;
    height: 55px;
  }
  .main__img-star,
  .main__stars-right,
  .main__stars-bottom,
  .main__stars-left,
  .main__container-about,
  .main__container-articles {
    display: none;
  }
  .main__title {
    font-size: 40px;
  }
  .main__container {
    padding: 0;
  }
  .main__games {
    flex-direction: column;
    margin-top: 48px;
    align-content: center;
  }
  .main__games-title {
    font-size: 32px;
  }
  .main__games-text {
    font-size: 16px;
  }
  .main__games-info {
    padding: 0 28px;
    gap: 16px;
  }
  .main__games-container {
    gap: 16px;
    width: 343px;
    height: 528px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
  .main__games-btn {
    height: 55px;
    width: 285px;
  }
  .main__games-container:nth-child(even) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 343px;
    height: 528px;
  }
  .main__games-container:last-child {
    margin-bottom: 10px;
  }
  #rock-paper-scissors.main__games-container {
    height: 580px;
  }
  #random-color-generator.main__games-container {
    height: 626px;
  }
  footer {
    height: 100px;
  }
  button,
  .main__games-btn,
  .top__button {
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    width: 285px;
    height: 55px;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
  }
  button:hover,
  .main__games-btn:hover,
  .top__button:hover {
    background-color: #070707;
    color: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */